.App-header nav a:not(:first-child) {
	margin-left: 1.5em;
}
.App-header nav a:not(.App-nav-active):hover {
	background: var(--link-hover);
}

.App-header nav a:not(.App-nav-active):active {
	background: var(--link-click);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.App-header .App-nav-active {
	color: #000;
	background: var(--link-active);
}
