:root {
	--background: #263056;
	--header: #ff6f61;
	--link-active: #ff6f61;
	--link-hover: #195190;
	--link-click: #009499;
}

::selection {
	background-color: #ffda29;
	color: #000;
}

body {
	background: var(--background);
	color: #fff;
}

.App {
	padding: 40px 10%;
	font-family: Roboto Mono, monospace;
	font-size: 18px;
}

.App-nav {
	display: flex;
	flex-direction: row;
}
